.UserInfo {
  width: max-content;
  padding: 12px 12px 5px 10px;
  background-color: $c-sky-blue;
  @extend %bs-secondary;

  &__avatar {
    width: 24px;
    height: 24px;
  }

  &__fullName {
    margin: 0;
    line-height: 50%;
    color: $c-dark-gray;
  }

  &__email {
    padding: 0;
    color: white;
    font-size: 15px;
    text-decoration: none;
  }
}
