.comments {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  list-style: none;
  background: #eee;
  border-radius: 24px;

  &__item {
    padding: 24px;
    border-radius: 24px;
    box-shadow: 2px 2px 8px #ccc;
    background-color: #fff;
  }

  &__text {
    margin-top: 24px;
    line-height: 130%;
  }
}
