.CommentInfo {
  margin-bottom: 20px;
  padding: 12px;
  background-color: #fff;
  border-radius: 8px;

  &__email {
    margin-bottom: 8px;
    font-size: 12px;
    color: #00669d;
  }

  &__name {
    font-size: 16px;
    color: #0d6b6f;
    font-style: italic;
  }
}
