.comment {
  &__item {
    list-style: none;
    background-color: rgba(74, 208, 248, 0.76);
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
  }

  &__name {
    margin: 0 0 10px;
  }
}
