.PostInfo {
  margin-bottom: 40px;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(235, 250, 239);
}

.postTitle {
  font-size: 2rem;
}

.postByUser {
  font-size: 1.2rem;
}

.postUserEmail {
  font-size: 1.2rem;
}

.postText {
  font-size: 1.1rem;
}
