.post__user {
  align-self: flex-end;
  text-align: end;
  font-size: 14px;
  color: rgb(18, 59, 25);

  & :nth-child(1) {
    margin: 0;
  }

  & :nth-child(2) {
    margin: 0;
  }

  & :nth-child(3) {
    margin: 0;
  }
}
