.post__title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.post__body {
  text-align: justify;
  line-height: 1.2;
  font-size: 18px;
  color: rgb(109, 109, 109);
  margin-bottom: 15px;
}
