.user {
  font-family: Helvetica Neue LT, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  margin: 0;
  padding: 0;
  color: #657786;
}
