* {
  box-sizing: border-box;
}

html {
  font-family: San Francisco, sans-serif;
  font-size: 14px;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

h4 {
  font-size: 12px;
  font-weight: 400;
  color: $gray-600;
}
