.comment {
  margin-bottom: 15px;
  padding: 5px;

  border: 1px solid #ccc;
  background-color: #7478A3;

  &__name {
    margin-bottom: 5px;

    font-size: 16px;
    font-weight: 600;
  }

  &__email {
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__body {
    font-size: 14px;

  }
}