.comment {
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.79);
  padding: 0 20px 20px;
  border-radius: 10px;
  text-align: center;

  &__user {
    text-align: center;
    font-weight: bold;
    padding: 10px;
  }

  &__email {
    padding: 0 0 10px;
  }

  &__text {
    font-style: italic;
  }
}

.email {
  &__link {
    transition: ease-in-out 0.4s;

    &:hover {
      color: blue;
    }
  }
}
