.info__name {
  font-size: 20px;
  color: rgb(243, 107, 191);
}

.info__body {
  padding: 15px;

 
}

.info__email {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: rgb(216, 127, 10);
}
