$c-blue-white: rgb(242, 243, 255);
$c-sky-blue: rgb(187, 196, 223);
$c-dark-gray: #626262;

$bsh-primary: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$bsh-secondary: rgba(9, 30, 66, 0.25) 0 4px 8px -2px,
  rgba(9, 30, 66, 0.08) 0 0 0 1px;
