.post {
  background-color: #9ce6fd;
  padding: 5px;
  border: 3px solid #3767e2;
  border-radius: 10px;

  &__text::after {
    content: "";
    display: block;
    height: 1px;
    background-color: black;
    margin-top: 5px;
  }

  &__comments {
    display: block;
    margin-top: 15px;
  }
}
