.post__container {
  width: 100%;
  padding: 0;
}

.post {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  list-style: none;

  &__content {
    margin-bottom: 40px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
  }

  &__comments {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    list-style: none;
    padding: 0;
  }

  &__comment-info {
    display: flex;
    justify-content: space-between;
  }

  &__comment-email {
    white-space: nowrap;
  }
}