.container {
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-comment {
  width: 30%;
  padding: 20px;
  margin: 10px;
  border: 6px solid rgb(58, 110, 58);
}
