.list__item {
  width: 80%;
  margin: 5em auto;
  padding: 20px;
  background: linear-gradient(#74ebd5, #9face6);
  border-radius: 10px;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  -moz-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}
