[data-cy="comments-list-li"] {
  padding: 7px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-left: 10px solid blue;
  font-size: 20px;
  letter-spacing: 2px;
  transition: 0.3s all linear;
  list-style-image: url(../image/s.png);
}

[data-cy="comments-list-li"]:hover {
  border-left: 10px solid transparent;
  border-right: 10px solid yellow;
}
