.comment {
  padding-left: 45px;
  font-size: 12px;
  text-align: left;

  &__author {
    padding: 5px;
  }

  &__author-name {
    display: inline-block;
    margin-right: 20px
  }

  &__author-email {
    display: inline-block;
  }
}
