.CommentInfo {
  margin-bottom: 20px;

  &__email {
    font-size: 0.9rem;
    margin-bottom: 4px;
    text-transform: lowercase;
    color: gray;
  }

  &__name {
    font-weight: 500;
    margin-bottom: 2px;
  }

  &__body {
    font-weight: 300;
    font-size: 0.9rem;
  }
}
