.comments {
    border: 1px solid black;
    padding: 10px;
}

.email, .name {
    color: #000;
}

.name {
    font-weight: bold;
    margin-right: 20px;
}

.comment {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
}