.PostList {
  // margin: 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  gap: 30px;
  align-items: center;

  &__item {
    width: 70%;
    display: grid;
    grid-template-rows: auto;
    background-color: rgb(218, 240, 236);
    padding: 15px;
    border-radius: 4px;
  }
} 
