.post {
  width: 500px;
  margin: 20px auto;
  padding: 15px;
  background: linear-gradient(rgb(233, 243, 255), rgb(187, 222, 255));
  border-radius: 4px;
}

.post > * {
  text-align: center;
}

.post:hover {
  box-shadow: 0 0 5px 1px grey;
}
