.post {
  background-color: azure;
  list-style-type: none;
  padding: 30px;
  border-radius: 20px;
  margin-top: 15px;
  opacity: 0.9;
  text-align: left;
}

.post__title {
  font-style: italic;
}

.post__mail {
  font-style: italic;
  text-decoration: none;
  color: darkslateblue;
}
