.name {
  margin: 0 0 0 10px;
  color: black;
  font-size: large;
  font-weight: bold;
  text-decoration: underline;
}

.body {
  padding: 5px;
  word-wrap: break-word;
  border-radius: 4px;
  border: black solid;
  border-width: 0 0 0 5px;
  margin: 0 0 0 10px;
  color: black;
}

.email {
  margin: 0 0 0 10px;
  color: lightslategrey;
}

.frame {
  margin: 0 0 10px;
  font-family: "Hack";
  padding: 0 40px 0 0;
  background-color: white;
  width: 500px;
  height: auto;
  border-radius: 0 10px;
  border: lightslategrey solid;
  border-width: 1px 0 0 5px;
}
