@import "../../config";

.comments {
  display: flex;
  flex-wrap: wrap;
  background-color: $color_sand_dark;
}

.comment {
  padding: 10px;

  @media (min-width: 768px) {
    width: calc(50% - 20px);
    max-width: 50%;
  }

  @media (min-width: 1199px) {
    width: calc(33% - 20px);
    max-width: 33%;
  }

  &-description,
  &-email {
    font-size: 0.85rem;
  }

  &-email {
    font-weight: 300;
    text-align: right;
  }
}
