.post {
  margin-bottom: 20px;
  padding: 16px 16px 16px 60px;
  background: #fff;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);

    &__title {
      text-transform: uppercase;
    }

    &__text {
      font-size: 16px;
    }
}