.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;

  border: 2px solid black;
  border-radius: 10%;

  &__title-text {
    font-weight: 700;
  }

  &__id {
    font-size: 20px;
    font-weight: 700;
  }
}


