.post__title::first-letter {
  text-transform: uppercase;
}

.post__info-user {
  text-align: right;
  padding-bottom: 20px;
}

.post__name {
  font-size: 18px;
}

.post__content {
  width: 700px;
  margin: 0 auto;
}

.post__content::first-letter {
  text-transform: uppercase;
}
