.App__list {
  background: linear-gradient(
    180deg, rgba(255,255,255,1) 0%, rgba(194,193,192,1) 100%
  );
  font-size: x-large;
  margin: 20px;
  padding: 20px;
  border: 2px dashed black;
  border-radius: 10px;
}

.App__title {
  text-align: center;
}
