.post-item {
  border: 2px solid #333;
  margin-bottom: 25px;
  padding: 0 5px 5px;
}

.post__title {
  text-align: center;
  font-style: normal;
  font-size: 28px;
  font-weight: 600;
}

.post__body {
  font-style: italic;
  font-size: 1.4em;
  text-align-last: left;
}
