.comments {
  padding: 1vw 0;

  &__title {
    font-size: 1.2vw;
    text-transform: uppercase;
    letter-spacing: 0.04vw;
    font-weight: bold;
    color: #004720;
    border-bottom: 1px solid;
    padding-bottom: 0.5vw;
    margin-bottom: 2vw;
  }
}

.list {
  &__item {
    margin-bottom: 2vw;
  }
}
