.comment {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment__item {
  list-style: decimal;
  position: relative;
  &::before {
    content: "";
    right: 2%;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #8d8d8d;
  }
}
