.comments {
  border-top: #a39802 1px solid;
  width: 500px;
}

.comment {
  background-color: #f5f5b3;
  padding: 10px;
  margin: 10px;
}

.comment__body {
  font-size: 12px;
}

.comment__email {
  font-size: 14px;
}
