*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: rgb(241, 247, 237);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: rgb(84, 73, 75);

  &__name {
    font-style: italic;
  }
}
