iframe {
  display: none;
}

.App__title {
  text-align: center;
}

.UserInfo {
  font-weight: bold;
}

.PostInfo {
  margin: 10px auto;
  width: 90%;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: lightgray;
  padding: 1em;

  &__title {
    margin: 0;
  }

  &__header {
    margin-bottom: 1em;
  }
}
.CommentList {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  background-color: #eee;
  padding: 1em;
}