.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  display: block;
  width: 500px;
  padding: 5px 20px 20px;
  margin-bottom: 20px;

  border: 1px solid black;
  border-radius: 20px;

  &__title {
    font-size: 24px;
    font-weight: bold;
    background-color: lightskyblue;
    border-radius: 10px;
    text-align: center;
  }

  &__body {
    font-size: 20px;
  }

  &__author {
    p {
      margin: 5px;
    }
    font-style: italic;
    border-bottom: 1px solid black;
  }
}

.comments {
  &__list {
    list-style: none;
    padding: 0;
  }

  &__name {
    font-weight: bold;
  }

  &__email {
    font-style: italic;
    font-size: 14px;
    margin: 5px 0;
  }

  &__item {
    padding: 5px;
    transition: 0.5s;
  }

  &__item:hover {
    background-color: lightskyblue;
  }
}
