.green .segment {
  width: 75%;
  margin: 20px auto;
  text-align: center;
}

.comment_card {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
}
