* {
  box-sizing: border-box;
}

html,
body,
p,
h4,
h3 {
  padding: 0;
  margin: 0;
}

.App {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-gap: 10px;
  width: 960px;
  margin: 0 auto;
}

.post {
  padding: 20px;
  width: 350px;
  background-color: #f6b0b0;
  border-radius: 15px;
}

.starts {
  text-align: center;
}

.comments {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 15px;
}

.user__span {
  font-size: 15px;
  color: white;
}
